<a href="https://colab.research.google.com/github/DeofanSandyCandra/Pemrograman-Dasar/blob/main/Laprak%20pertemuan%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tipe data : List
#1
# deklarasi variabel list

numbers = [23, 43, 15, 34]

# cara mengakses elemen dalam variabel list

numbers [0] #23

numbers [1] # 43

numbers [2] #15

numbers [3] #34

# cara mengubah nilai elemen dalam variabel list numbers [2] # 51

numbers [2] = 51


print (numbers[1]) #lakukan untuk setiap indexnya dan lihat hasilnya
print (numbers[0])
print (numbers[2])
print (numbers[3])

43
23
51
34

In [3]:
# Tipe data : List
#1
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 #[1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]


#print lalu lihat hasilnya
print (numbers)

[1, 2, 4]

In [1]:
#Tipe data : list
# deklarasi variabel list
#4
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

#cara mengakses elemen dalam variabel list

myList[0]

myList[1]

myList[3]

myList[4]

#cara mengakses elemen dalam sublist

myList[4][0]

myList[4] [1]

#lakuan print lalu amati hasilnya
print (myList[0])
print (myList[1])
print (myList[2])
print (myList[3])
print (myList[4])

1
Rumah
4.5
True
['Kamar mandi', 'Kamar tidur']

In [2]:
# Tipe data : Slicing list
#5
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])

print(x[1:])

print(x[:3])

#Output:

# ['laptop', 'mouse', 'keyboard']

# ['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']

# ['laptop', 'monitor', 'mouse']

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
# Tipe data = Tuple
#6
x = (1, "Polibatam", 1+3j)

print(type(x))

#Output:

#<class 'tuple'>

<class 'tuple'>

In [ ]:
# Tipe data : Indexing Tuple
#7
x = (5, 'program', 1 + 3j )

print (x[1])

print (x[0:3])

#Output:

#program

#(5, 'program', (1 + 3j) )

program
(5, 'program', (1+3j))

In [ ]:
# Tipe data : Imutable Tuple
#8
x = (5, 'program', 1+3j)

x[1] = 'Polibatam'

#Output:

#'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:

# Tipe data : Imutable tuple
#8
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple

print (numbers[0]) # 23

print (numbers [1]) # 43

print (numbers [2]) # 15

#lakuan print lalu amati hasilnya
print (numbers)

23
43
15
(23, 43, 15, 34)

In [ ]:
# Tipe data : set
#9
# deklarasi variabel set a dan b

a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan

operasi_gabungan = a.union(b) #{1, 2, 3, 4}

# operasi irisan
operasiirisan =a.intersection(b) # {2, 3}

# operasi perbedaan
operasi_perbedaan = a.symmetric_difference(b) # {1, 4}

#lakukan print dan lihat hasilny
print (a)
print (b)
print (operasi_gabungan)
print (operasiirisan)
print (operasi_perbedaan)

{1, 2, 3}
{2, 3, 4}
{1, 2, 3, 4}
{2, 3}
{1, 4}

In [ ]:
# Tipe data : Dictionary
#10
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(type(x))

#Output:

#<class 'dict'>

<class 'dict'>

In [ ]:
# Tipe data : Dictionary
#10
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(x[0])

#Output:

#KeyError: 0

KeyError: 0

In [ ]:
# Tipe data : Dictionary
#10
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(x ['name'])

#Output:

#Perseus Evans

Perseus Evans

In [ ]:
# Tipe data : Dictionary
#11
#menambah data
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }
x ['Job'] = "Web Developer"

print(x)

#Output:

#{'name': 'Perseus Evans', 'age': 20, 'isMarried': False, 'Job': 'Web Developer'}

{'name': 'Perseus Evans', 'age': 20, 'isMarried': False, 'Job': 'Web Developer'}

In [ ]:
# Tipe data : Dictionary
#11
#menghapus data
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

del x['isMarried']

print(x)

#Output:

#{'name': 'Perseus Evans', 'age': 20}

{'name': 'Perseus Evans', 'age': 20}

In [ ]:
# Tipe data : Dictionary
#11
#mengubah data
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }
x ['name'] = "Exvan"

print(x)

#Output:

#{'name': 'Exvan', 'age': 20, 'isMarried': False}

{'name': 'Exvan', 'age': 20, 'isMarried': False}

In [ ]:
# Tipe data : Dictionary
#11
# deklarasi variabel dictionary

propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel dictionary

propertyDetail["numFloors"] #1

propertyDetail["propertyType"]# Rumah

propertyDetail["hasTerrace"]# True

propertyDetail["hasGarage"]# False

#cara mengubah nilai elemen dalam variabel dictionary

propertyDetail["hasTerrace"] = False

propertyDetail["hasTerrace"]

#False

print(propertyDetail ["propertyType"])

#lakuan print lalu amati hasilnya

Rumah