<a href="https://colab.research.google.com/github/DeofanSandyCandra/Pemrograman-Dasar/blob/main/Praktikum%20Pertemuan%2005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 9
for angka in range(1,10,2):
    print(angka)

--- Soal 1 ---
1
3
5
7
9

In [ ]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 9
for angka in range(2,51,2):
    print(angka)

--- Soal 1 ---
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [1]:
print("--- Soal 2 ---")
kode_berhenti = 99
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan angka (99 untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print("Perulangan telah dihentikan oleh sentinel (99).")

--- Soal 2 ---
Masukkan angka (99 untuk berhenti): 55
Masukkan angka (99 untuk berhenti): 99
Perulangan telah dihentikan oleh sentinel (99).

In [5]:
print("--- Soal 2 ---")
kode_berhenti = 4232401003
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan angka (NIM anda untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print("Perulangan telah dihentikan oleh sentinel (NIM).")

--- Soal 2 ---
Masukkan angka (NIM anda untuk berhenti): 4232401005
Masukkan angka (NIM anda untuk berhenti): 423240189
Masukkan angka (NIM anda untuk berhenti): 4232401003
Perulangan telah dihentikan oleh sentinel (NIM).

In [7]:
print("--- Soal 3 ---")
harga_barang = [15000, 25000, 10000, 5000]
total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 ---
Total biaya belanja adalah: 55000

In [9]:
print("--- Soal 3 ---")
harga_barang = [15000, 25000, 10000, 5000]
total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 ---
Total biaya belanja adalah: 55000

In [10]:
print("--- Soal 3 ---")
harga_barang = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
total_belanja = 0

print("Masukkan harga untuk 10 barang:")

for i in range(10):
    harga = int(input("Harga barang ke-" + str(i+1) + ": "))
    harga_barang[i] = harga
    total_belanja += harga


print("\nTotal biaya belanja adalah: Rp", total_belanja)

--- Soal 3 ---
Masukkan harga untuk 10 barang:
Harga barang ke-1: 5000
Harga barang ke-2: 2500
Harga barang ke-3: 9000
Harga barang ke-4: 6000
Harga barang ke-5: 4000
Harga barang ke-6: 35000
Harga barang ke-7: 25000
Harga barang ke-8: 4000
Harga barang ke-9: 9000
Harga barang ke-10: 7000

Total biaya belanja adalah: Rp 106500

In [12]:
print("--- Soal 4 ---")
percobaan_maksimal = 3
percobaan_saat_ini = 1

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    # Asumsi ada logika input password di sini
    percobaan_saat_ini += 1

if percobaan_saat_ini == percobaan_maksimal + 1:
    print("Kesempatan habis.")
else:
    print("Akses diterima.")

--- Soal 4 ---
Percobaan ke-1...
Percobaan ke-2...
Percobaan ke-3...
Kesempatan habis.

In [13]:
print("--- Soal 4 ---")
username_benar = "admin"
password_benar = "12345"

percobaan_maksimal = 3
percobaan_saat_ini = 1
akses_diterima = False

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")

    username_input = input("Masukkan username: ")
    password_input = input("Masukkan password: ")

    if username_input == username_benar and password_input == password_benar:
        akses_diterima = True
        break

    percobaan_saat_ini += 1

if akses_diterima:
    print("Akses diterima.")
else:
    print("Kesempatan habis.")

--- Soal 4 ---
Percobaan ke-1...
Masukkan username: aadmin
Masukkan password: 455
Percobaan ke-2...
Masukkan username: admin
Masukkan password: 777
Percobaan ke-3...
Masukkan username: admimin
Masukkan password: 12345
Kesempatan habis.

In [14]:
print("--- Soal 5 ---")
nama_proyek = "PRAKTIKUM"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output) # Output: P-R-A-K-T-I-K-U-M-

--- Soal 5 ---
P-R-A-K-T-I-K-U-M-

In [15]:
print("--- Soal 5 ---")
nama_proyek = "Politeknik Negeri Batam"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output) # Output: P-R-A-K-T-I-K-U-M-

--- Soal 5 ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-e-r-i- -B-a-t-a-m-

In [22]:
print("--- Soal 6 ---")
# Countdown dari 5 ke 1
for i in range(5,0,-1,):
    print(i)

--- Soal 6 ---
5
4
3
2
1

In [24]:
print("--- Soal 6 ---")
# Countdown dari 5 ke 1
for i in range(255,0,-1,):
  print(i)

--- Soal 6 ---
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [25]:
print("--- Soal 7 ---")
bulan = ["Januari", "Februari", "Maret", "April"]

for i, nama in enumerate(bulan):
    # i adalah indeks, nama adalah elemen
    print(f"Bulan ke-{i + 1}: {nama}")

--- Soal 7 ---
Bulan ke-1: Januari
Bulan ke-2: Februari
Bulan ke-3: Maret
Bulan ke-4: April

In [26]:
print("--- Soal 7 ---")
kelurahan_batam = [
    "Baloi Permai", "Belian", "Sukajadi", "Sungai Panas", "Taman Baloi", "Teluk Tering",
    "Bukit Tempayan", "Buliang", "Kibing", "Tanjung Uncang",
    "Batu Merah", "Kampung Seraya", "Sungai Jodoh", "Tanjung Sengkuang",
    "Kasu", "Pecong", "Pemping", "Pulau Terong", "Sekanak", "Raya", "Tanjung Sari",
    "Bengkong Indah", "Bengkong Laut", "Sadai", "Tanjung Buntung",
    "Batu Legong", "Bulang", "Lintang", "Pantai Gelam", "Pulau Buluh", "Setokok", "Temoyong",
    "Air Raja", "Galang Baru", "Karas", "Pulau Abang", "Rempang Cate", "Sembulang", "Sijantung", "Subang Mas",
    "Baloi Indah", "Batu Selicin", "Kampung Pelita", "Lubuk Baja Kota", "Tanjung Uma",
    "Batu Besar", "Kabil", "Ngenang", "Sambau",
    "Sagulung Kota", "Sungai Binti", "Sungai Langkai", "Sungai Lekop", "Sungai Pelunggut", "Tembesi",
    "Duriangkang", "Mangsang", "Muka Kuning", "Tanjung Piayu",
    "Patam Lestari", "Sungai Harapan", "Tanjung Pinggir", "Tanjung Riau", "Tiban Baru", "Tiban Indah", "Tiban Lama"
]

for i, nama in enumerate(kelurahan_batam):
    print(f"Kelurahan ke-{i + 1}: {nama}")

--- Soal 7 ---
Kelurahan ke-1: Baloi Permai
Kelurahan ke-2: Belian
Kelurahan ke-3: Sukajadi
Kelurahan ke-4: Sungai Panas
Kelurahan ke-5: Taman Baloi
Kelurahan ke-6: Teluk Tering
Kelurahan ke-7: Bukit Tempayan
Kelurahan ke-8: Buliang
Kelurahan ke-9: Kibing
Kelurahan ke-10: Tanjung Uncang
Kelurahan ke-11: Batu Merah
Kelurahan ke-12: Kampung Seraya
Kelurahan ke-13: Sungai Jodoh
Kelurahan ke-14: Tanjung Sengkuang
Kelurahan ke-15: Kasu
Kelurahan ke-16: Pecong
Kelurahan ke-17: Pemping
Kelurahan ke-18: Pulau Terong
Kelurahan ke-19: Sekanak
Kelurahan ke-20: Raya
Kelurahan ke-21: Tanjung Sari
Kelurahan ke-22: Bengkong Indah
Kelurahan ke-23: Bengkong Laut
Kelurahan ke-24: Sadai
Kelurahan ke-25: Tanjung Buntung
Kelurahan ke-26: Batu Legong
Kelurahan ke-27: Bulang
Kelurahan ke-28: Lintang
Kelurahan ke-29: Pantai Gelam
Kelurahan ke-30: Pulau Buluh
Kelurahan ke-31: Setokok
Kelurahan ke-32: Temoyong
Kelurahan ke-33: Air Raja
Kelurahan ke-34: Galang Baru
Kelurahan ke-35: Karas
Kelurahan ke-36: Pulau Abang
Kelurahan ke-37: Rempang Cate
Kelurahan ke-38: Sembulang
Kelurahan ke-39: Sijantung
Kelurahan ke-40: Subang Mas
Kelurahan ke-41: Baloi Indah
Kelurahan ke-42: Batu Selicin
Kelurahan ke-43: Kampung Pelita
Kelurahan ke-44: Lubuk Baja Kota
Kelurahan ke-45: Tanjung Uma
Kelurahan ke-46: Batu Besar
Kelurahan ke-47: Kabil
Kelurahan ke-48: Ngenang
Kelurahan ke-49: Sambau
Kelurahan ke-50: Sagulung Kota
Kelurahan ke-51: Sungai Binti
Kelurahan ke-52: Sungai Langkai
Kelurahan ke-53: Sungai Lekop
Kelurahan ke-54: Sungai Pelunggut
Kelurahan ke-55: Tembesi
Kelurahan ke-56: Duriangkang
Kelurahan ke-57: Mangsang
Kelurahan ke-58: Muka Kuning
Kelurahan ke-59: Tanjung Piayu
Kelurahan ke-60: Patam Lestari
Kelurahan ke-61: Sungai Harapan
Kelurahan ke-62: Tanjung Pinggir
Kelurahan ke-63: Tanjung Riau
Kelurahan ke-64: Tiban Baru
Kelurahan ke-65: Tiban Indah
Kelurahan ke-66: Tiban Lama

In [27]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, -1, 50, 60]

for angka in data_angka:
    if angka == -1:
        break
    print(angka)

print("Program berhenti karena angka -1 ditemukan.")

--- Soal 8 ---
10
20
30
Program berhenti karena angka -1 ditemukan.

In [29]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, -1, 50, 0, 60]

for angka in data_angka:
    if angka == 0:
        break
    print(angka)

print("Program berhenti karena angka 0 ditemukan.")

--- Soal 8 ---
10
20
30
-1
50
Program berhenti karena angka 0 ditemukan.

In [30]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total <= batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:", total)

--- Soal 9 ---
Total terakhir: 21

In [31]:
print("--- Soal 10 ---")
jumlah_baris = 3

for baris in range(jumlah_baris):
    baris_teks = ""
    for kata in range(1):  # Perulangan dalam hanya 1 kali
        baris_teks += "Python "
    print(baris_teks)

--- Soal 10 ---
Python
Python
Python